<div class="p-6 w-full max-w-4xl mx-auto">

  <h2 class="text-3xl font-bold tracking-wide mb-1 text-gray-900">
    MERCADO CRYPTO
  </h2>

  <p class="text-gray-500 mb-6">
    Datos en vivo desde Binance (actualización cada 5s)
  </p>

  <!-- Error -->
  <p *ngIf="errorMsg" class="text-red-600 font-medium mb-4">
    {{ errorMsg }}
  </p>

  <!-- TABLA -->
  <div class="overflow-x-auto shadow-md rounded-xl bg-white">
    <table class="w-full text-left border border-gray-200">
      <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
        <tr>

          <th class="p-3 cursor-pointer" (click)="sortBy('symbol')">
            NOMBRE
          </th>

          <th class="p-3 cursor-pointer" (click)="sortBy('priceUsd')">
            PRECIO
          </th>

          <th class="p-3 cursor-pointer" (click)="sortBy('changePercent24Hr')">
            CAMBIO 24H
          </th>

        </tr>
      </thead>

      <tbody class="text-gray-900 text-sm">

        <tr *ngFor="let c of cryptos" class="border-t border-gray-200">

          <td class="p-3 font-bold">
            {{ c.symbol }}
          </td>

          <td class="p-3 whitespace-nowrap">
            {{ c.priceUsd | number:'1.2-2' }} USD
          </td>

          <td
            class="p-3 font-semibold"
            [ngClass]="{
              'text-green-600': c.changePercent24Hr >= 0,
              'text-red-600': c.changePercent24Hr < 0
            }"
          >
            {{ c.changePercent24Hr | number:'1.2-2' }}%
          </td>

        </tr>

      </tbody>
    </table>
  </div>

</div>
